.product {
    padding: 30px;
    color: $color-smoky-black;
    margin: 20px 0 0 0;

    @media (min-width: 1281px) {
        margin: 20px 0 20px 100px;
        padding: 30px 0;
        
        /* desktop */
        
      }

    &__title{
        font-family: $old-standard;
        font-size: $fz-xx-large;
        font-weight: $bold-weigth;
        text-transform: uppercase;
        line-height: normal;

        @media (min-width: 481px) and (max-width: 767px) {
            
      
            /* tablet */
            
          }
    
          @media (min-width: 1281px) {
            font-size: $fz-xxx-large;
            
            /* desktop */
            
          }
    }

    &__paragraph{
        color: $color-granite-gray;
        margin: 15px 0;

        @media (min-width: 481px) and (max-width: 767px) {
            margin: 15px 0 30px 0;
            
      
            /* tablet */
            
          }
    
          @media (min-width: 1281px) {
            padding-right: 1000px;
            height: 200px;
            font-size: $fz-x-large;
            font-weight: $regular-weigth;
            line-height: 1.5;
            margin-bottom: 81px;
            
            /* desktop */
            
          }
    }

    &__button{
        border: solid 2px $color-smoky-black;
        width: 100px;
        height: 40px;
        font-weight: $bold-weigth;
        
    }
}